*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url("https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")no-repeat;
    background-size: cover;
}

.container1{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.heading{
    margin-right: 100px;
    /* It will increase the content gap */
    /* border: 1px solid black; */
    width: 150px;
    padding: 20px;
    font-size: 20px;
    font-family: cursive;
    /* letter-spacing: 2px; */
    text-align: center;
    cursor: pointer;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    box-shadow: 2px 2px 20px 5px #fff;
}

#color1{
    background-color: yellow ;
}

#color2{
    background-color: rgb(245, 47, 47);
}

#color3{
    background-color: rgb(240, 12, 221);
}

#color4{
    background-color: rgb(42, 183, 238);
}

.container{
    padding: 30px;
    position: fixed;
    top: 5%;
    box-shadow: 2px 2px 20px 5px #000;
}

.btn{
    font-size: 30px;
    float: right;
    cursor: pointer;
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.text{
    font-size: 20px;
    font-family: cursive;
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

#box1{
    display: none;
    background-image: linear-gradient(rgb(233, 233, 67), rgba(0,0,0,0.9));
}

#box2{
    display: none;
    background-image: linear-gradient(rgb(241, 107, 118), rgba(0,0,0,0.9));
}

#box3{
    display: none;
    background-image: linear-gradient(rgb(248, 114, 204), rgba(0,0,0,0.9));
}

#box4{
    display: none;
    background-image: linear-gradient(rgb(98, 243, 236), rgba(0,0,0,0.9));
}